<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectX</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    Welcome to my project!
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn-btn-danger-dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div> 
    <footer>
      <div class="foot-panel1">Back to Top</div>
      <div class="foot-panel2">
        <ul>
          <p>Get to Know Us</p>
          <a>About Us</a>
          <a>Careers</a>
          <a>Press Releases</a>
          <a>Amazon Science</a>
        </ul>
        <ul>
          <p>Connect with Us</p>
          <a>Facebook</a>
          <a>Twitter</a>
          <a>Instagram</a>
        </ul>
        <ul>
          <p>Make Money with Us</p>
          <a>Sell on Amazon</a>
          <a>Sell under Amazon Accelerator</a>
          <a>Protect and Build Your Brand</a>
          <a> Amazon Global Selling</a>
          <a>Become an Affiliate</a>
          <a> Fulfilment by Amazon</a>
          <a>Advertise Your Products</a>
          <a>Amazon Pay on Merchants</a>
        </ul>
        <ul>
          <p>Let Us Help You</p>
          <a> COVID-19 and Amazon</a>
          <a>Your Account</a>
          <a>Returns Centre</a>
          <a>100% Purchase Protection</a>
          <a>Amazon App Download</a>
          <a>Help</a>
        </ul>
      </div>
      <div class="foot-panel3">
        <div class="logo"></div>
      </div>
      <div class="foot-panel4">
        <div class="pages">
          <a>Conditions of Use & Sale</a>
          <a>Privacy Notice</a>
          <a>Interest Based Ads</a>
        </div>
        <div class="copyright">
          © 1996-2023, Amazon.com, Inc. or its affiliates
        </div>
      </div>
    </footer>
    
</body>
</html>
